/*A seguir consta código css de formatação do seletor universal e body*/
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
}
/*A seguir consta código css de formatação da tag main*/
.conteudo-principal{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*A seguir consta código css de formatação da div que possui imgs de ilustração a esquerda*/

.tela-instagram-ilustracao .imagens img{
    width: 400px;
}
/*A seguir consta código css de formatação da div que possui 
opções de login a direita*/
.tela-instagram-acesso .obtenha-app img{
    width: 150px;
}

.tela-instagram-acesso .possui-login, form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nao-possui-login{
    padding: 25px 0;
}
.possui-login{
    padding: 25px 40px;
}
.possui-login, .nao-possui-login{
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    margin: 10px;
}
.possui-login img{
    width: 150px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.nao-possui-login a, .nao-possui-login p{
    font-size: 15px;
    text-align: center;
}
.nao-possui-login a{
    text-decoration: none;
    color: rgb(0, 162, 255);
    font-weight: bold;
}
.possui-login a{
    padding: 10px;
}
.possui-login .ou{
    margin: 10px;
    font-size: 12px;
    margin: 15px 0;
}
.possui-login form input{
    color: rgb(180, 180, 180);
    font-size: 12px;
    margin: 5px;
    padding: 8px;
    border-radius: 3px;
}
.possui-login form .email, .possui-login form .senha{
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(247, 247, 247);
}
.possui-login form .bentrar{
    background-color: #ACDCFC;
    border: 0px solid white;
    color: white;
}
.login-facebook-opcao{
    font-size: 15px;
    font-weight: bold;
}
.login-facebook-opcao::before{
    content: "⠀⠀";
    background-image: url("../img/icon-fb.png");
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    margin: 0px 6px 0 0;
}
.login-facebook-senha{
    font-size: 12px;
}
.login-facebook-opcao, .login-facebook-senha{
    color: rgb(34, 34, 124);
    text-decoration: none;
    margin-top: 15px;
}
/*A seguir consta código css de formatação da opção para obter app*/
.obtenha-app{
    text-align: center;
    padding: 10px;
}
.obtenha-app p{
    margin: 10px;
}
.obtenha-app .plataforma{
    padding: 15px;
}
.obtenha-app .plataforma a{
    text-align: center;
    margin: 0 auto;
}

/*A seguir consta código css de formatação do rodapé(footer)*/
.rodape{
    text-align: center;
    margin: 0 50px;
    padding: 20px;
}
.rodape a, .rodape p{
    margin: 8px;
    font-size: 12px;
    text-decoration: none;
    color: rgb(139, 139, 139);
    line-height: 30px;
}
.links-uteis, .principais-temas{
    margin: 5px;
}
.copyright{
    margin: 20px;
}
/*Media queries*/
@media (min-width: 2560px){
    .conteudo-principal{
        height: 1093px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 800px){
    .tela-instagram-ilustracao{
        display: none;
    }
}
@media (max-width: 767px){
    
    .tela-instagram-ilustracao{
        display: none;
    }
}
@media (max-width: 425px){
    body{
        background-color: white;
    }
    .possui-login, .nao-possui-login{
        background-color: white;
        border: 1px solid rgb(255, 255, 255);
        margin: 10px;
    }
    .possui-login form .email, .possui-login form .senha{
        border: 1px solid rgb(180, 180, 180);
        background-color: rgb(255, 255, 255);
    }
}
@media (max-width: 320px){
    .obtenha-app .plataforma a img{
        width: 120px;
    }
    .rodape{
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
    .rodape a, .copyright p{
        text-align: center;
        font-size: 12px;
        padding: 0;
    }
}